/*--------Global--------*/

* {
  box-sizing: border-box;
}

body {
  background-image: url(/assets/images/map.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(245, 222, 179);
  margin: 0;
  padding: 0;
}

/*--------Navbar--------*/

#main-navbar {
  background-image: url(/assets/images/wood-background.png);
  background-size: cover;
  height: 75px;
  }

#main-brand {
  color: rgb(245, 222, 179);
  font-family: 'Italianno';
  font-size: 3em;

}

#settings-icon {
  color: rgb(245, 222, 179);
  margin-right: 20px;
  margin-bottom: 20px;
}

/*--------Main Menu--------*/

#menu-container {
  background-color: rgb(162, 206, 206);
  width: 25%;
  min-width: fit-content;
  position: relative;
  margin-top: 160px;
  margin-bottom: 100px;
  border-radius: 10%;
  border: solid black 2px;
  background-image: url(/assets/images/blue-background.jpg);
  display: block;
}

.menu-col {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.menu-button {
	box-shadow: 1px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:rgb(0, 0, 0);
	font-family: 'Comfortaa';
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
  width: 150px;
  margin-bottom: 15px;
  margin-top: 15px;

}

.menu-button:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.menu-button:active {
	position:relative;
	top:1px;
}


/*--------Footer--------*/

#main-footer{
  text-align: center;
  background-image: url(/assets/images/wood-background.png);
  background-size: cover;
  height: auto;
  width: 100%;
}

.footer-icon {
margin: 20px;
  color: wheat;
}

.footer-link {
  text-decoration: none;
}

/*--------Play Screen--------*/

#play-container {
  background-color: rgb(162, 206, 206);
  background-image: url(/assets/images/blue-background.jpg);
  background-size: cover;
  width: 33%;
  min-width: 200px;
  position: relative;
  margin-top: 160px;
  margin-bottom: 100px;
  border-radius: 10%;
  border: solid black 2px;
  padding: 10px;
  height: fit-content;
  display: none;
}

#play-flag-container {
  width: 160px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  border: solid black 3px;
  background-image: url(/assets/images/ireland-flag.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(245, 222, 179);

}

#card-counter {
text-align: right;
}

#sound-icon {
text-align: left;
}

.answer-button {
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border:2px solid #333029;
	display:flex;
	cursor:pointer;
	color:rgb(0, 0, 0);
  text-shadow:1px 1px 0px #ffffff;
	font-family: 'Comfortaa';
	font-size:.8em;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
  width: 160px;
  text-align: left;
  overflow: hidden;
  margin: 3px; 
  position: inherit;
  margin-left: auto;
  margin-right: auto;
}

.answer-button:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.answer-button:active {
	position:relative;
	top:1px;
}

/*--------Learn Screen--------*/

#learn-container {
  background-color: rgb(162, 206, 206);
  background-image: url(/assets/images/blue-background.jpg);
  background-size: cover;
  width: fit-content;
  position: relative;
  margin-top: 160px;
  margin-bottom: 150px;
  border-radius: 10%;
  border: solid black 2px;
  padding: 10px;
  height: fit-content;
  display: none;
}

#learn-flag-container {
  width: 160px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 5px;
  border: solid black 3px;
  background-image: url(/assets/images/flags/ireland.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(245, 222, 179);
}

#learn-left-arrow {
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
}

#learn-right-arrow {
margin-top: auto;
margin-bottom: auto;
margin-right: auto;
}

#learn-country-name{
	background-color:#eae0c2;
	border:2px solid #333029;
  border-radius: 15%;
	display:block;
	color:rgb(0, 0, 0);
  text-shadow:1px 1px 0px #ffffff;
	font-family: 'Comfortaa';
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
  width: 160px;
  margin: 3px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: default;
}

#learn-info-link{
  text-decoration: none;
  color: #1c1b18;
}

/*--------How to Play Off Canvas--------*/
#offcanvasRight {
  background-color: #333029;
  width: 33%;
  font-family: 'Comfortaa';

  color: wheat
}