/*--------Global--------*/

* {
  box-sizing: border-box;
  
}

body {
  background-image: url(../images/map.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(245, 222, 179);
  margin: 0;
  padding: 0;
}

/*--------Navbar--------*/

#main-navbar {
  background-image: url(../images/wood-background.png);
  background-size: cover;
  height: 150px;
  }

#main-brand {
  color: rgb(245, 222, 179);
  font-family: 'Italianno';
  font-size: 6em;
}

#menu-return-button {
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:rgb(0, 0, 0);
	font-family: 'Comfortaa';
	font-size: 2em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
  width: 250px;
  margin-right: 40px;
  margin-left: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

#menu-return-button:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}

#menu-return-button:active {
	position:relative;
	top:1px;
}

/*--------Main Menu--------*/

#menu-container {
  background-color: rgb(162, 206, 206);
  width: 600px;
  height: 500px;
  position: relative;
  margin-top: 400px;
  margin-bottom: 350px;
  border-radius: 10%;
  border: solid black 2px;
  background-image: url(../images/blue-background.jpg);
  display: block;
}

.menu-col {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.menu-button {
	box-shadow: 1px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:rgb(0, 0, 0);
	font-family: 'Comfortaa';
	font-size: 3em;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
  width: 350px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.menu-button:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.menu-button:active {
	position:relative;
	top: 3px;
}

/*--------Footer--------*/

#main-footer{
  text-align: center;
  background-image: url(../images/wood-background.png);
  background-size: cover;
  height: 150px;
  min-width: 600px;
  width: 100%;
}

.footer-icon {
  color: wheat;
  margin-top: 40px;
}

.footer-link {
  text-decoration: none;
}

#email-icon {
  margin-right: 40px;
}

#github-icon {
  margin-left: 40px;
}

/*--------Play Screen--------*/

#play-container {
  background-color: rgb(162, 206, 206);
  background-image: url(../images/blue-background.jpg);
  background-size: cover;
  width: 600px;
  min-width: 200px;
  position: relative;
  margin-top: 350px;
  margin-bottom: 200px;
  border-radius: 10%;
  border: solid black 2px;
  padding: 25px;
  height: fit-content;
  display: none;
}

#play-flag-container {
  width: 400px;
  height: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  border: solid black 3px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(245, 222, 179);

}

#card-counter {
text-align: right;
font-size: 2.5em;
}

#no-sound-icon {
text-align: left;
display: inline;
}

#sound-icon {
text-align: left;
display: none;
}

.answer-button {
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border:2px solid #333029;
	display:flex;
	cursor:pointer;
	color:rgb(0, 0, 0);
  text-shadow:1px 1px 0px #ffffff;
	font-family: 'Comfortaa';
	font-size: 2.5em;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
  width: 400px;
  text-align: left;
  overflow: hidden;
  margin: 9px; 
  position: inherit;
  margin-left: auto;
  margin-right: auto;
}

.answer-button:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.answer-button:active {
	position:relative;
	top:1px;
}

/*--------Learn Screen--------*/

#learn-container {
  background-color: rgb(162, 206, 206);
  background-image: url(../images/blue-background.jpg);
  background-size: cover;
  width: 600px;
  position: relative;
  margin-top: 450px;
  margin-bottom: 400px;
  border-radius: 10%;
  border: solid black 2px;
  padding: 10px;
  height: fit-content;
  display: none;
}

#learn-flag-container {
  width: 400px;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 5px;
  border: solid black 3px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(245, 222, 179);
}

#learn-left-arrow {
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
}

#learn-right-arrow {
margin-top: auto;
margin-bottom: auto;
margin-right: auto;
}

#learn-country-name{
	background-color:#eae0c2;
	border:2px solid #333029;
  border-radius: 15%;
	display:block;
	color:rgb(0, 0, 0);
  text-shadow:1px 1px 0px #ffffff;
	font-family: 'Comfortaa';
	font-size: 2.5em;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
  width: 400px;
  margin: 3px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;  
}

#card-counter-learn {
  font-size: 2.5em;
}

/*--------Score Screen--------*/

#score-container {
    background-color: rgb(162, 206, 206);
    background-image: url(../images/blue-background.jpg);
    background-size: cover;
    width: fit-content;
    position: relative;
    margin-top: 200px;
    margin-bottom: 150px;
    border-radius: 10%;
    border: solid black 2px;
    padding: 10px;
    height: fit-content;
    display: none;
  }

  #score-message{
    margin-top: 10px;
    text-align: center;
    font-family: 'Comfortaa';
    font-weight: 600;
    font-size: 1.3em;
  }

  .score-button{
  box-shadow: 1px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	cursor:pointer;
  display: flex;
	color:rgb(0, 0, 0);
	font-family: 'Comfortaa';
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
  width: 130px;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  }

  .score-button:hover {
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color:#ccc2a6;
  }
  .score-button:active {
    position:relative;
    top:1px;
  }

/*--------How to Play Off Canvas--------*/
#offcanvasRight {
  background-color: #333029;
  width: 50%;
  font-family: 'Comfortaa';
  font-size: 2.5em;
  color: wheat
}

.off-canvas-li {
  list-style-type: disc;
  }