body {
  background-image: url(/Milestone-Project-2/assets/images/chart.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(245, 222, 179);

}

/*--------Navbar--------*/

#main-navbar {
  background-image: url(/Milestone-Project-2/assets/images/wood.jpg);
  background-size: cover;
  }

#main-brand {
  color: rgb(245, 222, 179);
  font-family: 'Italianno';
  font-size: 3em;
}

#settings-icon {
  color: rgb(245, 222, 179);
  margin-right: 20px;
}